<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recette tiramisu</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <font face="calibri" size="3"> 
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">Recettes</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                      <a class="nav-link active" aria-current="page" href="#">Accueil</a>
                      <a class="nav-link" href="#">Articles</a>
                      <a class="nav-link" href="#">A propos</a>
                    </div>
                </div>
            </nav></br>
            <div class="col-lg-3 offset-md-5">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-success">Liste des ingrédients</li>
                    <li class="list-group-item">100g de sucre roux</li>
                    <li class="list-group-item">1 sachet de vanille</li>
                    <li class="list-group-item">24 biscuits  à la cuillère</li>
                    <li class="list-group-item">3 oeufs</li>
                    <li class="list-group-item">250g de mascarpone</li>
                    <li class="list-group-item">50cl  de café noir non sucré</li>
                    <li class="list-group-item">30g de cacao amer</li>
                </ul><br/>
            </div>

            <div class="container marketing">
                <hr class="featurette-divider">
                <div class="row justify-content-center">
                    <div class="lead">
                        <div class="col-md-7 offset-md-3">
                            <h3 class="text-center">Recette de Tiramisu</h3></br>
                            <h5>Etape 1</h5>
                            <p>Séparer les blancs des jaunes d'oeufs.</p>
                            <h5>Etape 3</h5>
                            <p>Ajouter le mascarpone au fouet.</p>
                            <h5>Etape 4</h5>
                            <p>Monter les blancs en neige et les incorporer délicatement à la spatule au mélange précédent. Réserver.</p>
                            <h5>Etape 5</h5>
                            <p>Mouiller les biscuits dans le café rapidement avant d'en tapisser le fond du plat.</p>
                            <h5>Etape 6</h5>
                            <p>Recouvrir d'une couche de crème au mascarpone puis répéter l'opération en alternant couche de biscuits et couche de crème en terminant par cette dernière.</p>
                            <h5>Etape 7</h5>
                            <p>Saupoudrer de cacao.</p>
                            <h5>Etape 8</h5>
                            <p>Mettre au réfrigérateur 4 heures minimum puis déguster frais.</p>
                        </div>
                    </div>
                    <img src="https://assets.afcdn.com/recipe/20190529/93099_w1024h768c1cx1936cy1296.jpg" title="tiramisu" width="350" height="300" class="img-thumbnail">
                    <img src="https://www.galbani.fr/wp-content/uploads/2017/07/le_veritable_tiramisu_par_il_gusto_italiano_0.png" class="img-thumbnail" title="tiramisu" width="350" height="300">
                </div>
            </div></br>

            <footer class="container">
                <p>© 2021 Emmanuelle BOFFETTI · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
            </footer>
        </font>

        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>


    
